.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 20rem;
    /* max-width: 180px; */
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, rgb(29,78,216),rgb(29,78,216));
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 14px;
    color: rgb(29,78,216);
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }






  /* vrefiy code */

  .form__group1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: ltr;
    width: 20rem;
  }
  
  .form__field1 {
    font-family: inherit;
    width: 4rem;
    border: none;
    display: flex;
    text-align: center;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 25px;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field1::placeholder {
    color: transparent;
  }
  
  .form__field1:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, rgb(29,78,216),rgb(29,78,216));
    border-image-slice: 1;
  }
  
  /* reset input */
  .form__field1:required, .form__field1:invalid {
    box-shadow: none;
  }