@import "../variables";
.sideBarLayout {
  &__sideBar {
    display: contents;
    @media (max-width: $size-xs) {
      display: none;
    }
  }

  &__bottomNav {
    display: none;
    @media (max-width: $size-xs) {
      display: block;
    }
  }
}
