@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-message {
    @apply w-full bg-white h-[100px] rounded-xl flex items-center;
  }
  .item-card {
    @apply bg-[#B0F3B3] rounded-full mx-4 w-[3.6rem] h-[3.6rem] flex justify-center items-center;
  }
  .icon-card {
    @apply text-[#4CAF50]  rounded-full w-[1.6rem] h-[1.6rem];
  }
  .icon {
    @apply w-[25px] h-[28px];
  }
  .lable-font-des {
    @apply text-[1.3rem];
  }
  .contract-color-text {
    @apply text-[#444444];
  }
  .contract-style-icon {
    @apply text-[#C5C7D4] w-6 h-6;
  }
  .button-side {
    @apply my-1 flex items-center text-[1rem] font-medium rounded-lg;
  }
  .active-button {
    @apply bg-[#4F50FA] text-white;
  }
  .active-button svg path {
    @apply fill-black;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* bold */
@font-face {
  font-family: Dana-Bold;
  font-weight: bold;
  font-style: normal;
  src: url("./assets/Fonts/DanaPro(10Wt)/Dana-ExtraBold/dana-extrabold.eot");
  src: url("./assets/Fonts/DanaPro(10Wt)/Dana-ExtraBold/dana-extrabold.eot")
      format("embedded-opentype"),
    url("./assets/Fonts/DanaPro(10Wt)/Dana-ExtraBold/Dana-ExtraBold.woff2")
      format("woff2"),
    url("./assets/Fonts/DanaPro(10Wt)/Dana-ExtraBold/Dana-ExtraBold.woff")
      format("woff"),
    url("./assets/Fonts/DanaPro(10Wt)/Dana-ExtraBold/Dana-ExtraBold.ttf")
      format("truetype");
  font-display: swap;
}
/* normal */
@font-face {
  font-family: Dana;
  font-weight: normal;
  font-style: normal;
  src: url("./assets/Fonts/DanaPro(10Wt)/Dana-Regular/dana-regular.eot");
  src: url("./assets/Fonts/DanaPro(10Wt)/Dana-Regular/dana-regular.eot")
      format("embedded-opentype"),
    url("./assets/Fonts/DanaPro(10Wt)/Dana-Regular/Dana-Regular.woff2")
      format("woff2"),
    url("./assets/Fonts/DanaPro(10Wt)/Dana-Regular/Dana-Regular.woff")
      format("woff"),
    url("./assets/Fonts/DanaPro(10Wt)/Dana-Regular/Dana-Regular.ttf")
      format("truetype");
  font-display: swap;
}
